<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d %level %logger %mdc] - %m%n</pattern>
        </encoder>
    </appender>

    <Logger name="com.zaxxer.hikari" level="TRACE" additivity="true"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>